/*
Etiqueta Normal = Nada
Etiqueta Universal = *
Eiqueta Id = #
Etiqueta class = .
*/

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.Proyecto{
    color: rgb(38, 79, 155);
}

h2{
    color: cornflowerblue;
    margin-left: 0%;
    font-size: 20px;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(206, 191, 177, 0.904);
}

#container{
    background-color: rgba(128, 128, 128, 0.527);
    width: 80%;
    margin: 0px auto; 
    box-shadow: 0px 0px 10px 10px gray;
    border: 1px solid blueviolet;
}

#header{
    background-color: rgb(211, 199, 199);
    height: 145px;
}

#logo{
    width: 130px;
    height: 130px;
    padding: 20px;
    margin-left: 20px;
    float: left;
    margin-bottom: 25px;
}

#logo img{
    float: left;
}

#login {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin-top: 20px; /* Espacio superior */
    border-radius: 5px;
}

#menu{
    clear: both;
    background-color: rgb(215, 176, 216);
    border-bottom: 4px solid rgb(93, 39, 143);
    height: 55px;
}

#menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    margin-left: 25px;
}

#menu ul li{
    line-height: 55px;
    float: left;
    border-right: 1px solid rgb(0, 0, 0);
}

#menu a{
    display: block;
    color: rgb(1, 4, 19);
    text-decoration: none;
    padding-left: 12px;
    padding-right: 12px;
    transition: all 300ms ease-in-out;
}

#menu a:hover{
    background-color: rgb(93, 39, 143);
    color: white;
}


/*Contenido*/
#content {
    margin: 0px auto;
    overflow: hidden;
    background: rgb(239, 237, 240);
}

#lateral {
    width: 15%; 
    min-height: 600px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid rgb(76, 18, 99);
}

#lateral .block_aside{
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
    border: 1px solid rgb(212, 6, 248);
}

#lateral h3{
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #e1e1e1;
    border: 2px solid #b272c2;
}

input[type="text"], 
input[type="password"], 
input[type="email"]{
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 1px solid rgb(130, 73, 148);
    box-shadow: 0px 0px 2px #000000 inset;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="email"]:focus{
    border: 1px solid #1579B5;
    color: black;
}

input[type="button"], 
input[type="submit"] {
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: antiquewhite;
    width: 80px;
    height: 30px;
    background-color: violet;
    border-color: black;
    cursor: pointer;
}

.button{
    display: block;
    border-radius: 2px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:white;
    background: #9867af;
    border: 1px solid #11608e;
    cursor: pointer;
}

.button{
    background: #420f6b;
    color: white !important;
    text-decoration:  none;
}

#central {
    width: 80%;
    min-height: 600px;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px; 
}

#central h1{
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
    color: #11608e;
}

.product{
    width: 30%;
    border: 2px solid rgb(123, 62, 139);
    float: left;
    margin-left: 10px;
    margin-right:  10px;
    margin-bottom: 30px;
    text-align: center;;
}

.product img{
    height: 150px;
    margin-bottom: 10px;
}

.product h2{
    font-size: 15px;
    margin-bottom: 10px;
}

.product p{
    font-weight: bold;
    counter-reset: #555;
    margin-bottom: 10px;
}

.product a{
    color: black;
    text-decoration: none;
    margin-bottom: 20px;
}

.product a:hover{
    color:#555
}

#footer{
    clear: both;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
    color: antiquewhite;
    border-top: 2px solid rgb(180, 75, 194);
}
